# Entornos virtuales
venv/
__pycache__/
*.pyc
.env
dl_models/
*.keras
*.h5
*.ckpt

# Python
*.py[cod]
*$py.class
*.so
.Python
pip-log.txt
pip-delete-this-directory.txt

# .env
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
